{% extends 'base.html.twig' %}

{% block body %}

    <h1>Création d'un article</h1>
    {% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formArticle) }}
    <div class="class-group">
        <label for=""></label>
        {{ form_widget(formArticle.title) }}
    </div>
    {{ form_end(formArticle) }}

    <hr>
    {#
    {{ form(formArticle) }}
    #}
{% endblock %}