{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<section class="articles">
    <article>
        <h2>titre de l'article</h2>
        <div class="metada">écrit le 10/05/2018 à 19h00 dans la catégorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate alias similique laboriosam. Repudiandae, suscipit assumenda.</p>
            <p>Voluptatem maiores natus, adipisci ex quo assumenda! Dolor architecto, quo ad sapiente magnam nisi modi?</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>titre de l'article</h2>
        <div class="metada">écrit le 10/05/2018 à 19h00 dans la catégorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Nam voluptatem at, dolorum vitae sequi, ipsum consectetur ut corrupti, tenetur laudantium itaque. Reiciendis, consequatur.</p>
            <p>Sunt molestiae tempora temporibus recusandae sed dicta a non excepturi nisi, reiciendis odio suscipit autem.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>titre de l'article</h2>
        <div class="metada">écrit le 10/05/2018 à 19h00 dans la catégorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Deleniti sint fugit voluptas id quia animi consequuntur odit, voluptatum impedit, velit voluptate est corrupti.</p>
            <p>Aliquid labore voluptate dolores eveniet assumenda ipsa, expedita similique molestiae atque placeat sequi. Possimus, incidunt.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>

{% endblock %}